.share {
    margin-bottom: 0px 30px ;
}

.form-control {
    margin-bottom: 10px;
}

.featurette {
    margin: 0 auto;
    padding: 0 20px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: none;
}

.div {
     opacity: 0;
     filter:alpha(opacity=0);
     }
     
.div:hover .share {
     opacity: 1.0;
     filter:alpha(opacity=100);
     }
